@media (max-width: 1024px) {
  h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 772px) {
  h1 {
    font-size: 2rem;
  }
}
@media (max-width: 572px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1rem;
  }
}
